html,
body {
  font-size: 16;
  font-family: 'Segoe UI'
}

.caixaInput {
  width: 40rem;
  height: 3rem;
  margin: 2rem auto;
  /*background-color : yellow; */
  background-image: linear-gradient(to bottom right, rgb(0, 255, 242), rgb(0, 123, 255));
  padding: 1.5rem;
}

input {
  padding: 0.5rem;
  margin: 0.5rem;
}

.resultado{
  color: white;
  font-weight: bold;
  text-align: center;
  width: 40rem;
  height: 3rem;
  margin: 2rem auto;
  background-image: linear-gradient(to bottom right, rgb(92, 0, 128), rgb(194, 76, 194));
  padding: 1.5rem;
}

.titulo{
  font-size: 24px;
  color: rgb(16, 1, 1);
  text-align: center;
}

.botaoSoma{
  width: 10;
  height: 10;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: whitesmoke;
}