html,
body{
    font-size: 1rem;
    font-family: Arial;
    height: 95%;
}

main{
    margin: 2rem auto;
    width: 32rem;
    height: 30rem;
}

h1{
    text-align: center;
    color: black;
    font-size: 2rem;
}

.numero,
.resultado{
    background-image: linear-gradient(to bottom right, rgb(0, 255, 242), rgb(0, 123, 255));
    height: 3rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.resultado{
    background-image: linear-gradient(to bottom right, rgb(92, 0, 128), rgb(194, 76, 194));
    color: white;
    font-weight: bold;
    text-align: center;
}

input {
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}